---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";

import Hero from "@/sections/Hero.astro";
import Historia from "@/sections/Historia.astro";
import Detalles from "@/sections/Detalles.astro";
import Galeria from "@/sections/Galeria.astro";
import Hospedaje from "@/sections/Hospedaje.astro";
import Registro from "@/sections/Registro.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <Header />

  <main>
    <div class="main-background">
      <Hero />
      <Historia />
    </div>

    <Detalles />

    <div class="main-background">
      <Galeria />
      <Registro />
    </div>

    <Hospedaje />

    <Footer />
  </main>
</Layout>

<style>
  .main-background {
    background-image: url("/images/PNG/background-texture.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
