---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';

import Hero from '@/sections/Hero.astro';
import Historia from '@/sections/Historia.astro';
---
<Layout>
  <Header />

  <main>
    <div class="main-background">
      <Hero />
      <Historia />
    </div>

    <section id="detalles"></section>
    <section id="registro"></section>
    <section id="galeria"></section>
    <section id="hospedaje"></section>
  </main>
</Layout>

<style>
  .main-background {
    background-image: url("/images/PNG/background-texture.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>