---
import Facebook from "@/icons/Facebook.astro";
import Instagram from "@/icons/Instagram.astro";
import Mail from "@/icons/Mail.astro";
import TikTok from "@/icons/TikTok.astro";
---

<div id="footer-container" class="container animate-on-scroll">
  <footer class="footer-layout anim-item">

    <p>María y José · 2025</p>
    <hr />
    <div class="credits-socials">
      <p>
        "Este es solo el comienzo de nuestra aventura más hermosa."&nbsp;&nbsp;<span
          class="heart">❤️</span
        >
      </p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/alejandro-canek?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" aria-label="Facebook"><Facebook /></a>
        <a href="https://www.instagram.com/alejandrocanek?igsh=MXB4eWxpa3BrdHI2NQ==" aria-label="Instagram"><Instagram /></a>
        <a href="mailto:alejandro.canek.dev@gmail.com?subject=Boda%20Mar%C3%ADa%20y%20Jos%C3%A9&body=Hola%2C%20quiero%20hablar%20sobre%20la%20boda%20%F0%9F%A4%B5%F0%9F%8F%BC%E2%80%8D%E2%99%82%EF%B8%8F%F0%9F%91%B0%F0%9F%8F%BC" aria-label="Correo"><Mail /></a>
        <a href="https://www.tiktok.com/es/" aria-label="TikTok"><TikTok /></a>
      </div>
    </div>
  </footer>
</div>

<style>
  #footer-container {
    padding-top: 0;
    overflow-y: hidden;
  }

  .footer-layout {
    background-color: var(--color-white);
    position: relative;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    padding: 2rem 5rem;
    color: var(--color-gray);
    width: 100%;
    max-width: 1200px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    z-index: 1;
    overflow: hidden;
    z-index: 2;
  }

  p {
    margin: 0;
    font-size: var(--font-4);
    text-align: center;
    font-weight: bold;
  }

  hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
  }

  .heart {
    display: inline-block;
    animation: heartbeat 2s infinite;
  }

  .credits-socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
  }

  .credits-socials p {
    font-size: var(--font-5);
    color: var(--color-gray);
    font-weight: normal;
    font-style: italic;
  }

  .social-icons {
    display: flex;
    gap: 1rem;
  }
  .social-icons a {
    color: var(--color-gray);
    transition:
      transform 0.3s ease,
      color 0.3s ease;
  }
  .social-icons a:hover {
    color: var(--color-brown);
    transform: scale(1.2);
  }
  .social-icons :global(svg) {
    width: 24px;
    height: 24px;
  }

  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1);
    }
    20%,
    60% {
      transform: scale(1.15);
    }
    40%,
    80% {
      transform: scale(1);
    }
  }

  @media (max-width: 900px) {
    .footer-layout {
      padding: 2rem 3rem;
    }

    p {
      font-size: var(--font-5);
    }

    .credits-socials {
      flex-direction: column;
      align-items: center;
    }

    .social-icons {
      gap: 1.5rem;
    }
  }

  @media (max-width: 500px) {
    .credits-socials p {
      font-size: var(--font-6);
    }

  }
</style>
