---
const { class: className } = Astro.props;
---

<div class:list={["illustration-container", className]}>
  <svg
    width="205"
    height="202"
    viewBox="0 0 205 202"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M62.2244 17.2819C88.3459 20.7877 91.8437 44.7938 90.3274 56.3585C84.97 65.7924 69.0391 82.8957 48.1744 75.838C27.3096 68.7803 11.7249 33.286 6.54062 16.4211C14.1154 18.955 29.5725 12.8997 62.2244 17.2819Z"
      fill="url(#paint0_linear_2040_1396)"></path>
    <path
      d="M53.6747 40.3884C50.4506 35.1774 43.1948 24.1534 39.9641 21.745"
      stroke="white"></path>
    <path
      d="M89.4659 56.2655C63.8347 43.201 34.1274 35.7039 8.94582 18.397"
      stroke="white"></path>
    <path
      d="M76.9907 50.6283C74.5809 43.2167 68.6448 27.4149 64.1794 23.5002"
      stroke="white"></path>
    <path
      d="M81.9807 52.8832C80.9392 54.4872 74.5104 65.8078 54.3332 67.0628"
      stroke="white"></path>
    <path
      d="M61.0693 44.6201C58.5019 46.9175 46.384 51.6169 35.1828 50.408"
      stroke="white"></path>
    <path
      d="M177.539 78.9423C164.139 101.637 140.666 95.5121 130.604 89.6126C124.001 81.0048 114.45 59.6716 129.075 43.2015C143.699 26.7313 182.461 26.1966 200.013 27.9881C194.73 33.9785 194.289 50.5735 177.539 78.9423Z"
      fill="url(#paint1_linear_2040_1396)"></path>
    <path
      d="M159.585 62.0709C165.641 61.1302 178.62 58.7393 182.096 56.7013"
      stroke="white"></path>
    <path
      d="M131.025 88.8552C153.038 70.3335 171.511 45.8897 197.257 29.434"
      stroke="white"></path>
    <path
      d="M141.075 79.5598C148.84 80.2259 165.706 80.911 171.051 78.3222"
      stroke="white"></path>
    <path
      d="M137.055 83.278C135.983 81.6941 128.059 71.3648 134.76 52.2913"
      stroke="white"></path>
    <path
      d="M152.808 67.2343C151.692 63.9749 152.081 50.9835 157.556 41.1371"
      stroke="white"></path>
    <path
      d="M79.2445 152.331C57.5589 128.647 73.0411 103.469 83.4929 93.8399C95.8717 89.204 124.128 85.6567 138.124 108.555C152.12 131.453 138.965 176.815 130.638 196.634C125.535 188.348 106.352 181.935 79.2445 152.331Z"
      fill="url(#paint2_linear_2040_1396)"></path>
    <path
      d="M105.288 137.404C104.232 144.795 102.405 160.771 103.544 165.547"
      stroke="white"></path>
    <path
      d="M84.2256 94.6C97.9858 126.838 119.906 157.054 129.932 192.908"
      stroke="white"></path>
    <path
      d="M91.4858 109.616C87.9494 118.429 81.1558 137.841 82.2731 144.99"
      stroke="white"></path>
    <path
      d="M88.5818 103.61C90.8086 102.924 105.663 97.3606 125.51 111.949"
      stroke="white"></path>
    <path
      d="M101.679 127.671C105.875 127.529 120.876 132.601 130.405 142.481"
      stroke="white"></path>
    <path
      d="M140.676 31.9906C141.773 37.7516 142.458 50.4527 136.419 55.1683C128.869 61.0629 123.807 59.9318 119.972 63.5777"
      stroke="url(#paint3_linear_2040_1396)"
      stroke-width="2"></path>
    <path
      d="M102.434 31.1051C98.4202 35.891 91.5927 46.8316 96.394 52.3068C102.396 59.1507 109.907 57.7502 112.696 56.1411"
      stroke="url(#paint4_linear_2040_1396)"
      stroke-width="2"></path>
    <path
      d="M102.434 31.1051C98.4202 35.891 91.5927 46.8316 96.394 52.3068C102.396 59.1507 109.907 57.7502 112.696 56.1411"
      stroke="url(#paint5_linear_2040_1396)"
      stroke-width="2"></path>
    <path
      d="M97.2639 25.9477C102.668 25.708 109.33 20.3696 111.986 17.7303C118.257 12.2659 124.267 16.2794 126.488 18.9691C134.088 20.8722 149.563 29.104 150.664 46.8059C151.766 64.5078 132.842 80.2939 123.242 85.9742C114.185 90.7545 105.143 89.4091 101.753 88.1388C93.2198 92.5051 86.1798 88.0075 85.0093 85.3986C84.0729 83.3114 80.9627 81.0952 79.5246 80.248C75.1237 75.632 76.9579 66.5646 78.4251 62.608C75.174 58.6491 73.3131 47.8429 75.0093 40.6792C76.7055 33.5155 90.5091 26.2474 97.2639 25.9477Z"
      fill="url(#paint6_linear_2040_1396)"></path>
    <path
      d="M116.823 92.9292C95.118 95.2534 83.6242 82.5877 83.9802 76.279C83.71 74.0123 83.3833 65.6937 84.2377 50.5529C85.3057 31.6269 140.937 12.307 148.411 38.9521C155.884 65.5972 143.954 90.0239 116.823 92.9292Z"
      fill="#FFE5E7"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M78.1517 62.2557C81.3618 65.625 86.3053 69.1944 93.4392 71.2731C95.5005 71.9004 100.938 74.0874 106.196 77.8174C112.162 79.394 127.114 77.8342 139.193 58.9823C142.574 53.8118 148.084 40.7557 143.455 29.4347C147.274 33.7436 150.207 39.4592 150.664 46.8059C151.765 64.5079 132.841 80.2939 123.242 85.9742C114.184 90.7545 105.142 89.4091 101.753 88.1388C93.2191 92.5051 86.1791 88.0076 85.0086 85.3986C84.0722 83.3114 80.9619 81.0952 79.5239 80.248C75.1229 75.632 76.9571 66.5647 78.4243 62.608C78.3323 62.496 78.2414 62.3785 78.1517 62.2557Z"
      fill="#ECABA3"></path>
    <path
      d="M101.03 66.9269C100.964 64.4493 99.7869 55.6944 99.2066 51.6266C100.981 53.293 107.599 53.771 108.381 53.5993C109.163 53.4276 123.099 51.1149 123.711 50.482L103.048 71.8419C102.403 71.2359 101.096 69.4046 101.03 66.9269Z"
      fill="url(#paint7_linear_2040_1396)"></path>
    <ellipse
      cx="10.5665"
      cy="9.73693"
      rx="10.5665"
      ry="9.73693"
      transform="matrix(-0.695273 0.718746 0.72896 0.684556 107.969 26.3381)"
      fill="url(#paint8_linear_2040_1396)"></ellipse>
    <path
      d="M108.406 40.8797C106.141 41.3272 104.745 43.3793 105.161 45.3822C105.578 47.3852 107.683 48.747 109.949 48.2998C112.215 47.8524 113.611 45.7994 113.195 43.7962C112.778 41.7933 110.672 40.4324 108.406 40.8797Z"
      fill="#FAE2E5"
      stroke="url(#paint9_linear_2040_1396)"
      stroke-width="2"></path>
    <path
      d="M115.683 38.4139C115.945 34.0699 112.092 31.5184 110.132 30.7856C111.489 30.55 114.885 30.9007 117.615 34.1891C120.345 37.4774 121.073 45.8907 120.324 47.3012C119.575 48.7117 115.683 50.1896 110.355 50.9235C102.715 51.9759 98.5912 46.2173 98.5912 46.2173C96.6472 44.0897 96.999 39.5888 97.756 38.488C98.3616 37.6073 98.7391 38.0021 98.8521 38.3096C97.636 39.8851 99.1374 43.1067 100.122 44.6351C101.106 46.1634 105.234 47.6244 107.902 47.4123C110.57 47.2002 115.356 43.8439 115.683 38.4139Z"
      fill="url(#paint10_linear_2040_1396)"></path>
    <path
      d="M128.324 28.8463C129.168 27.4647 131.604 28.0013 132.895 29.2132C134.185 30.4251 137.734 33.7579 138.28 42.423C138.905 52.3475 133.842 56.8762 130.987 57.9186C128.026 58.9633 121.245 61.8149 117.803 64.8636C114.362 67.9122 107.209 68.6025 104.062 68.5666C103.64 68.4724 103.064 67.6894 104.133 65.3113C105.201 62.9333 114.553 56.9794 119.094 54.2998C107.632 56.6935 105.489 55.6964 101.737 53.9505L101.626 53.8992C98.5687 52.4772 96.7125 46.5672 96.9691 44.3925C97.3413 46.5537 99.7689 48.7399 102.479 50.4722C108.734 54.4716 117.866 49.5228 121.469 48.9808C125.072 48.4388 129.295 47.5737 132.298 42.2413C134.701 37.9753 132.092 34.4985 130.487 33.2933C129.414 32.3867 127.48 30.2279 128.324 28.8463Z"
      fill="#F2B9AE"></path>
    <path
      d="M79.676 48.0812C77.2458 39.7731 90.1833 29.263 103.283 30.9967C84.3255 45.5026 94.2852 65.122 100.291 66.2329C105.096 67.1216 112.97 73.8118 116.307 77.0458C114.622 76.772 111.099 76.3826 110.487 77.0155C98.6941 77.1131 82.964 59.3217 79.676 48.0812Z"
      fill="#F2B9AE"></path>
    <path
      d="M133.21 29.207C136.049 31.4704 141.205 37.6816 139.12 44.4198C136.514 52.8426 138.036 50.9507 133.784 56.6197"
      stroke="url(#paint11_linear_2040_1396)"></path>
    <path
      d="M137.325 36.091C140.336 42.844 135.678 56.8887 124.518 63.0156C113.357 69.1425 112.389 68.2335 106.255 68.21"
      stroke="url(#paint12_linear_2040_1396)"></path>
    <path
      d="M113.622 43.7256C109.643 47.8393 106.66 48.0582 103.645 47.0381C100.63 46.0181 94.5491 42.1198 99.7034 34.882"
      stroke="url(#paint13_linear_2040_1396)"></path>
    <path
      d="M113.622 43.7256C109.643 47.8393 106.66 48.0582 103.645 47.0381C100.63 46.0181 94.5491 42.1198 99.7034 34.882"
      stroke="url(#paint14_linear_2040_1396)"></path>
    <path
      d="M113.622 43.7256C109.643 47.8393 106.66 48.0582 103.645 47.0381C100.63 46.0181 94.5491 42.1198 99.7034 34.882"
      stroke="url(#paint15_linear_2040_1396)"></path>
    <path
      d="M115.311 36.2524C115.865 45.2272 110.432 48.8815 104.903 47.0115C99.3751 45.1414 97.4664 39.4236 102.621 32.1858"
      stroke="url(#paint16_linear_2040_1396)"></path>
    <path
      d="M101.967 31.2703C100.548 31.1458 84.7013 32.5698 80.6927 41.4874C76.6842 50.405 85.0268 62.4669 95.1318 69.8427"
      stroke="url(#paint17_linear_2040_1396)"></path>
    <path
      d="M92.8919 33.014C73.6158 41.484 86.3359 59.7785 92.5513 67.4188C97.7547 73.8149 104.096 69.8055 116.869 76.9692"
      stroke="white"></path>
    <path
      d="M78.1186 62.9249C75.9259 71.1323 76.2322 87.7253 94.9983 88.4389C118.456 89.331 126.08 86.2238 132.057 80.3629"
      stroke="url(#paint18_linear_2040_1396)"></path>
    <path
      d="M145.069 31.587C146.562 34.499 157.201 44.1875 148.7 61.5683C141.899 75.4729 125.898 85.2465 118.747 88.3953"
      stroke="url(#paint19_linear_2040_1396)"></path>
    <path
      d="M98.0609 49.9468C98.1918 52.8879 102.055 58.1662 116.46 55.7505M96.8244 44.8602C95.8769 50.6133 104.397 63.4461 127.901 48.378"
      stroke="url(#paint20_linear_2040_1396)"></path>
    <path
      d="M47.8328 75.3871C53.6949 75.2174 66.3438 76.5559 70.0418 83.2668C74.6644 91.6554 72.7446 96.4748 75.7361 100.839"
      stroke="url(#paint21_linear_2040_1396)"
      stroke-width="2"></path>
    <path
      d="M40.8928 113.004C44.9815 117.727 54.7007 126.203 60.8681 122.331C68.5773 117.491 68.386 109.852 67.2394 106.844"
      stroke="url(#paint22_linear_2040_1396)"
      stroke-width="2"></path>
    <path
      d="M40.8928 113.004C44.9815 117.727 54.7007 126.203 60.8681 122.331C68.5773 117.491 68.386 109.852 67.2394 106.844"
      stroke="url(#paint23_linear_2040_1396)"
      stroke-width="2"></path>
    <path
      d="M34.981 117.291C35.6015 111.917 31.3873 104.493 29.2027 101.452C24.8021 94.3935 29.718 89.0961 32.726 87.3297C35.8105 80.1278 46.3925 66.1542 64.045 67.8747C81.6975 69.5951 94.2823 90.7831 98.368 101.162C101.651 110.863 98.8887 119.578 97.0969 122.722C100.054 131.84 94.4972 138.078 91.7356 138.82C89.5263 139.413 86.8449 142.133 85.7803 143.418C80.5247 147.031 71.863 143.782 68.1892 141.706C63.7648 144.288 52.8002 144.411 45.9962 141.6C39.1922 138.789 34.2055 124.008 34.981 117.291Z"
      fill="url(#paint24_linear_2040_1396)"></path>
    <path
      d="M104.217 108.603C103.069 130.402 88.7408 139.742 82.5685 138.389C80.2877 138.297 72.0225 137.3 57.2089 134.055C38.6919 129.998 28.4403 72.0066 55.9335 68.854C83.4267 65.7014 105.652 81.3552 104.217 108.603Z"
      fill="#FFE5E7"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M67.7975 141.92C71.6333 139.285 75.9416 134.97 79.1255 128.256C80.0718 126.321 83.0935 121.299 87.6103 116.699C90.1132 111.059 90.9446 96.0489 74.2472 81.1325C69.6785 76.9743 57.6616 69.4632 45.7498 72.2372C50.6098 69.1508 56.7182 67.1616 64.0444 67.8756C81.6969 69.596 94.2816 90.784 98.3674 101.163C101.651 110.864 98.888 119.578 97.0963 122.723C100.054 131.841 94.4966 138.079 91.735 138.821C89.5257 139.414 86.8442 142.134 85.7797 143.419C80.524 147.032 71.8624 143.783 68.1886 141.707C68.0634 141.78 67.933 141.851 67.7975 141.92Z"
      fill="#ECABA3"></path>
    <path
      d="M76.0385 120.072C73.5817 119.744 64.7509 119.518 60.6426 119.446C62.5693 117.958 64.091 111.499 64.0455 110.7C64 109.901 63.9268 95.7748 63.3991 95.07L81.2113 118.859C80.5107 119.4 78.4953 120.4 76.0385 120.072Z"
      fill="url(#paint25_linear_2040_1396)"></path>
    <ellipse
      cx="10.5665"
      cy="9.73693"
      rx="10.5665"
      ry="9.73693"
      transform="matrix(0.59937 0.800472 0.791511 -0.611155 37.0642 106.783)"
      fill="url(#paint26_linear_2040_1396)"></ellipse>
    <path
      d="M51.4909 108.658C51.5733 110.966 53.3781 112.669 55.4216 112.576C57.4654 112.482 59.1438 110.62 59.0617 108.312C58.9794 106.003 57.1737 104.299 55.1299 104.393C53.0863 104.486 51.4086 106.349 51.4909 108.658Z"
      fill="#FAE2E5"
      stroke="url(#paint27_linear_2040_1396)"
      stroke-width="2"></path>
    <path
      d="M50.2108 101.082C45.9633 100.135 42.833 103.534 41.7987 105.353C41.7813 103.976 42.6662 100.678 46.3459 98.5046C50.0256 96.3308 58.4478 96.9468 59.7217 97.9098C60.9956 98.8728 61.8374 102.95 61.717 108.327C61.5443 116.037 55.2045 119.195 55.2045 119.195C52.7955 120.777 48.4074 119.716 47.4406 118.794C46.6671 118.057 47.1167 117.746 47.4383 117.684C48.8009 119.134 52.2199 118.163 53.885 117.433C55.5502 116.704 57.6475 112.86 57.8612 110.192C58.075 107.524 55.5203 102.266 50.2108 101.082Z"
      fill="url(#paint28_linear_2040_1396)"></path>
    <path
      d="M42.7688 87.0836C41.5386 86.0313 42.4548 83.7109 43.8561 82.6289C45.2573 81.547 49.1108 78.5716 57.7528 79.4072C67.6508 80.3643 71.3191 86.0811 71.8954 89.0658C72.4574 92.1544 74.1973 99.302 76.6615 103.184C79.1256 107.065 78.6727 114.237 78.1382 117.338C77.9782 117.74 77.1136 118.185 74.9352 116.752C72.7568 115.32 68.3615 105.143 66.4362 100.233C66.9816 111.93 65.6572 113.888 63.3382 117.316L63.2701 117.417C61.3811 120.21 55.2515 121.105 53.145 120.507C55.3379 120.483 57.8814 118.432 60.0216 116.032C64.9626 110.489 61.5249 100.688 61.5612 97.0453C61.5975 93.4021 61.4132 89.095 56.6246 85.2839C52.7938 82.2351 48.9471 84.2597 47.5027 85.6532C46.4373 86.5685 43.9991 88.1359 42.7688 87.0836Z"
      fill="#F2B9AE"></path>
    <path
      d="M54.0444 138.167C45.456 139.249 37.1309 124.808 40.9205 112.149C52.2358 133.167 73.1866 126.446 75.2361 120.692C76.8756 116.089 84.7301 109.375 88.4523 106.594C87.9148 108.214 86.9716 111.63 87.4993 112.335C85.7253 123.994 65.6641 136.703 54.0444 138.167Z"
      fill="#F2B9AE"></path>
    <path
      d="M43.9002 82.3166C46.5852 79.8726 53.5356 75.7666 59.8578 78.894C67.7606 82.8032 66.1341 81.0001 71.0569 86.0979"
      stroke="url(#paint29_linear_2040_1396)"></path>
    <path
      d="M51.3501 79.3456C58.4952 77.4438 71.6233 84.2707 75.9024 96.2615C80.1816 108.252 79.1307 109.064 78.1345 115.117"
      stroke="url(#paint30_linear_2040_1396)"></path>
    <path
      d="M55.1282 103.96C58.5587 108.541 58.3018 111.521 56.8164 114.336C55.331 117.151 50.5176 122.537 44.189 116.299"
      stroke="url(#paint31_linear_2040_1396)"></path>
    <path
      d="M55.1282 103.96C58.5587 108.541 58.3018 111.521 56.8164 114.336C55.331 117.151 50.5176 122.537 44.189 116.299"
      stroke="url(#paint32_linear_2040_1396)"></path>
    <path
      d="M55.1282 103.96C58.5587 108.541 58.3018 111.521 56.8164 114.336C55.331 117.151 50.5176 122.537 44.189 116.299"
      stroke="url(#paint33_linear_2040_1396)"></path>
    <path
      d="M48.0178 101.107C56.9669 101.983 59.7131 107.928 56.9899 113.089C54.2667 118.251 48.3185 119.229 41.9898 112.992"
      stroke="url(#paint34_linear_2040_1396)"></path>
    <path
      d="M40.9816 113.492C40.6336 114.873 39.5261 130.745 47.6951 136.117C55.864 141.489 69.0964 135.165 77.9816 126.358"
      stroke="url(#paint35_linear_2040_1396)"></path>
    <path
      d="M41.2644 122.729C46.5698 143.104 66.6503 133.447 75.1796 128.522C82.3201 124.399 79.3673 117.502 88.4662 106.027"
      stroke="white"></path>
    <path
      d="M68.4534 142.059C76.209 145.525 92.6406 147.855 96.3217 129.439C100.923 106.42 99.0644 98.4003 94.2257 91.5689"
      stroke="url(#paint36_linear_2040_1396)"></path>
    <path
      d="M48.1311 70.9854C51.243 69.973 62.4963 61.0059 78.3087 72.1562C90.9586 81.0764 98.0705 98.4255 100.045 105.985"
      stroke="url(#paint37_linear_2040_1396)"></path>
    <path
      d="M58.8024 120.311C61.7271 120.648 67.5512 117.671 67.4508 103.065M53.584 120.725C59.1141 122.573 73.1358 116.195 61.9864 90.5992"
      stroke="url(#paint38_linear_2040_1396)"></path>
    <defs>
      <linearGradient
        id="paint0_linear_2040_1396"
        x1="90.1475"
        y1="58.0555"
        x2="7.35251"
        y2="19.2466"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#828B3A"></stop>
        <stop offset="1" stop-color="#B5C37F"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_2040_1396"
        x1="129.111"
        y1="88.7861"
        x2="197.095"
        y2="27.6357"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#828B3A"></stop>
        <stop offset="1" stop-color="#B5C37F"></stop>
      </linearGradient>
      <linearGradient
        id="paint2_linear_2040_1396"
        x1="84.9867"
        y1="92.3937"
        x2="132.086"
        y2="193.358"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#828B3A"></stop>
        <stop offset="1" stop-color="#B5C37F"></stop>
      </linearGradient>
      <linearGradient
        id="paint3_linear_2040_1396"
        x1="127.743"
        y1="45.3603"
        x2="137.186"
        y2="54.4952"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" stop-opacity="0"></stop>
        <stop offset="1" stop-color="white"></stop>
      </linearGradient>
      <linearGradient
        id="paint4_linear_2040_1396"
        x1="95.5935"
        y1="38.1766"
        x2="113.406"
        y2="55.407"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" stop-opacity="0"></stop>
        <stop offset="1" stop-color="white"></stop>
      </linearGradient>
      <linearGradient
        id="paint5_linear_2040_1396"
        x1="95.5935"
        y1="38.1766"
        x2="113.406"
        y2="55.407"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" stop-opacity="0"></stop>
        <stop offset="1" stop-color="white"></stop>
      </linearGradient>
      <linearGradient
        id="paint6_linear_2040_1396"
        x1="118.534"
        y1="21.4636"
        x2="106.888"
        y2="90.207"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white"></stop>
        <stop offset="1" stop-color="#DA616C"></stop>
      </linearGradient>
      <linearGradient
        id="paint7_linear_2040_1396"
        x1="99.227"
        y1="58.2887"
        x2="115.982"
        y2="61.6759"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#D9D9D9" stop-opacity="0.37"></stop>
        <stop offset="0.154167" stop-color="#DEA5AB" stop-opacity="0.713219"
        ></stop>
        <stop offset="1" stop-color="#E27A84"></stop>
      </linearGradient>
      <linearGradient
        id="paint8_linear_2040_1396"
        x1="10.5665"
        y1="0"
        x2="10.5665"
        y2="19.4739"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F48C94"></stop>
        <stop offset="0.945833" stop-color="#B56C75"></stop>
      </linearGradient>
      <linearGradient
        id="paint9_linear_2040_1396"
        x1="108.205"
        y1="39.9074"
        x2="109.941"
        y2="44.4658"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F5B7BE"></stop>
        <stop offset="1" stop-color="#EE9CA5" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint10_linear_2040_1396"
        x1="103.671"
        y1="36.1921"
        x2="125.777"
        y2="57.5763"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F1B7AD"></stop>
        <stop offset="1" stop-color="#F2B9AE"></stop>
      </linearGradient>
      <linearGradient
        id="paint11_linear_2040_1396"
        x1="134.049"
        y1="28.3402"
        x2="120.068"
        y2="44.435"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0104167" stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.239583" stop-color="white"></stop>
        <stop offset="0.817708" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint12_linear_2040_1396"
        x1="139.162"
        y1="34.1923"
        x2="112.392"
        y2="73.8434"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0104167" stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.239583" stop-color="white"></stop>
        <stop offset="0.817708" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint13_linear_2040_1396"
        x1="103.071"
        y1="31.4012"
        x2="118.493"
        y2="45.7008"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0104167" stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.239583" stop-color="white"></stop>
        <stop offset="0.817708" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint14_linear_2040_1396"
        x1="103.071"
        y1="31.4012"
        x2="118.493"
        y2="45.7008"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0104167" stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.239583" stop-color="white"></stop>
        <stop offset="0.817708" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint15_linear_2040_1396"
        x1="103.071"
        y1="31.4012"
        x2="118.493"
        y2="45.7008"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0104167" stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.239583" stop-color="white"></stop>
        <stop offset="0.817708" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint16_linear_2040_1396"
        x1="114.972"
        y1="35.33"
        x2="113.994"
        y2="53.7851"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0104167" stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.279167" stop-color="white"></stop>
        <stop offset="0.817708" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint17_linear_2040_1396"
        x1="99.8615"
        y1="28.9913"
        x2="106.131"
        y2="56.9586"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0187499" stop-color="white" stop-opacity="0.07"></stop>
        <stop offset="0.560417" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint18_linear_2040_1396"
        x1="102.051"
        y1="51.8514"
        x2="103.093"
        y2="92.1579"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0187499" stop-color="white" stop-opacity="0.07"></stop>
        <stop offset="0.560417" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint19_linear_2040_1396"
        x1="148.814"
        y1="34.5631"
        x2="162.048"
        y2="58.4947"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0187499" stop-color="white" stop-opacity="0.07"></stop>
        <stop offset="0.560417" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint20_linear_2040_1396"
        x1="105.806"
        y1="41.3989"
        x2="104.871"
        y2="57.002"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0187499" stop-color="white" stop-opacity="0.07"></stop>
        <stop offset="0.560417" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint21_linear_2040_1396"
        x1="58.9819"
        y1="90.277"
        x2="69.4989"
        y2="82.4022"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" stop-opacity="0"></stop>
        <stop offset="1" stop-color="white"></stop>
      </linearGradient>
      <linearGradient
        id="paint22_linear_2040_1396"
        x1="46.7898"
        y1="120.88"
        x2="66.6273"
        y2="106.026"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" stop-opacity="0"></stop>
        <stop offset="1" stop-color="white"></stop>
      </linearGradient>
      <linearGradient
        id="paint23_linear_2040_1396"
        x1="46.7898"
        y1="120.88"
        x2="66.6273"
        y2="106.026"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" stop-opacity="0"></stop>
        <stop offset="1" stop-color="white"></stop>
      </linearGradient>
      <linearGradient
        id="paint24_linear_2040_1396"
        x1="33.9273"
        y1="95.5791"
        x2="99.9534"
        y2="117.98"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white"></stop>
        <stop offset="1" stop-color="#DA616C"></stop>
      </linearGradient>
      <linearGradient
        id="paint25_linear_2040_1396"
        x1="67.2236"
        y1="120.482"
        x2="73.2254"
        y2="104.476"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#D9D9D9" stop-opacity="0.37"></stop>
        <stop offset="0.154167" stop-color="#DEA5AB" stop-opacity="0.713219"
        ></stop>
        <stop offset="1" stop-color="#E27A84"></stop>
      </linearGradient>
      <linearGradient
        id="paint26_linear_2040_1396"
        x1="10.5665"
        y1="0"
        x2="10.5665"
        y2="19.4739"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F48C94"></stop>
        <stop offset="0.945833" stop-color="#B56C75"></stop>
      </linearGradient>
      <linearGradient
        id="paint27_linear_2040_1396"
        x1="50.4989"
        y1="108.703"
        x2="55.275"
        y2="107.711"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F5B7BE"></stop>
        <stop offset="1" stop-color="#EE9CA5" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint28_linear_2040_1396"
        x1="46.1119"
        y1="112.59"
        x2="70.7316"
        y2="94.1552"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F1B7AD"></stop>
        <stop offset="1" stop-color="#F2B9AE"></stop>
      </linearGradient>
      <linearGradient
        id="paint29_linear_2040_1396"
        x1="43.1773"
        y1="81.3511"
        x2="56.851"
        y2="97.707"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0104167" stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.239583" stop-color="white"></stop>
        <stop offset="0.817708" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint30_linear_2040_1396"
        x1="49.7668"
        y1="77.2311"
        x2="84.6699"
        y2="109.951"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0104167" stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.239583" stop-color="white"></stop>
        <stop offset="0.817708" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint31_linear_2040_1396"
        x1="41.2863"
        y1="112.423"
        x2="57.8511"
        y2="99.4635"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0104167" stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.239583" stop-color="white"></stop>
        <stop offset="0.817708" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint32_linear_2040_1396"
        x1="41.2863"
        y1="112.423"
        x2="57.8511"
        y2="99.4635"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0104167" stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.239583" stop-color="white"></stop>
        <stop offset="0.817708" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint33_linear_2040_1396"
        x1="41.2863"
        y1="112.423"
        x2="57.8511"
        y2="99.4635"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0104167" stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.239583" stop-color="white"></stop>
        <stop offset="0.817708" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint34_linear_2040_1396"
        x1="47.0533"
        y1="101.295"
        x2="65.1197"
        y2="105.188"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0104167" stop-color="white" stop-opacity="0"></stop>
        <stop offset="0.279167" stop-color="white"></stop>
        <stop offset="0.817708" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint35_linear_2040_1396"
        x1="38.3975"
        y1="115.209"
        x2="67.0051"
        y2="113.455"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0187499" stop-color="white" stop-opacity="0.07"></stop>
        <stop offset="0.560417" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint36_linear_2040_1396"
        x1="61.3159"
        y1="116.673"
        x2="101.277"
        y2="122.037"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0187499" stop-color="white" stop-opacity="0.07"></stop>
        <stop offset="0.560417" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint37_linear_2040_1396"
        x1="51.6635"
        y1="67.7597"
        x2="77.3911"
        y2="58.4899"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0187499" stop-color="white" stop-opacity="0.07"></stop>
        <stop offset="0.560417" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="paint38_linear_2040_1396"
        x1="51.5911"
        y1="111.308"
        x2="66.8485"
        y2="114.705"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.0187499" stop-color="white" stop-opacity="0.07"></stop>
        <stop offset="0.560417" stop-color="white"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </linearGradient>
    </defs>
  </svg>
</div>
<style>
  .illustration-container {
    width: 100%;
    height: auto;
    pointer-events: none;
  }
</style>
