<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Invitación de Boda</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&family=Montserrat:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    /* Colores */
    --color-brown: #c3937c;
    --color-gray: #787878;
    --color-green: #828b3a;
    --color-white: #ffffff;
    --color-red: #ff0051;

    /* Fuentes */
    --font-1: 3.8rem;
    --font-2: 2.3rem;
    --font-3: 1.7rem;
    --font-4: 1.3rem;
    --font-5: 1rem;
    --font-6: 0.8rem;
    --font-cursive: 5.5rem;

    /* Animaciones */
    --durationAnimation: 0.7s;
    --delayAnimation: 0.5s;

    /* Family Fonts */
    --title-font: 'Cormorant', serif;
    --body-font: 'Montserrat', sans-serif;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Estilos base */
  body {
    font-family: var(--body-font);
    margin: 0;
  }

  h1,
  h2,
  h3 {
    font-family: var(--title-font);
    margin: 0;
  }

  h1,h2,h3,h4,h5,h5,p,a {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
</style>
<script>
  function setupScrollAnimations() {

    const elementsToAnimate = document.querySelectorAll(".animate-on-scroll");

    if (elementsToAnimate.length === 0) {
      return;
    }

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("animate");
          observer.unobserve(entry.target);
        }
      });
    }, {
      threshold: 0.5,
    });

    elementsToAnimate.forEach((el) => observer.observe(el));
  }

  document.addEventListener("DOMContentLoaded", setupScrollAnimations);
</script>
